{% extends 'navbarDev.html.twig' %}
{% block title %}Dashboard Développeur
{% endblock %}

{% block body %}
	<style>
		.text-marine {
			color: rgb(1, 29, 56); /* Bleu marine */
		}

		.fw-bold {
			font-weight: bold; /* Met en gras */
		}
		.button-edit,
		.d-flex {
			display: flex;
			margin-bottom: 16px; /* Ajoute de l'espace entre les divs */

		}
		.d-flex .bi {
			font-size: 1.3rem; /* Augmente la taille de l'icône */
			text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); /* Applique une ombre pour renforcer l'icône */
		}
		.customDev {
			padding: 40px;
			box-shadow: 0 4px 6px rgba(0.1, 0.1, 0.1, 0.1);
			transition: transform 0.3s ease, box-shadow 0.3s ease;

		}
		.card-custom {
			border: none !important;

		}
		.card2 {
			position: relative;
			border-radius: 10px;
			border: 2px solid #333;
		}

		.card-body2 img {
			position: absolute;
			top: 10px;
			right: 10px;
			width: 50px;
			height: 50px;
			object-fit: contain;
			border-radius: 50%;
			border: 2px solid #fff;
			background-color: #f8f9fa;
		}

		.card-body2 {
			padding: 20px 20px 20px 80px;
			border-radius: 20px;
		}

		.card-body2 h5 {
			font-size: 22px;
			margin-top: 20px;
		}


		.card-body2 .text-muted {
			font-size: 14px;
			color: #6c757d;
		}

		.card-body2 .rounded-pill {
			font-size: 12px;
			color: #000;
			border: 1px solid #000;
			padding: 5px 10px;
		}

		.card-body2 .bi {
			font-size: 14px;
			vertical-align: middle;
			margin-right: 5px;
		}
		.button-edit .btn {
			font-size: 12px; /* Réduit la taille du texte */
			justify-content: center;
			align-items: center;
			text-align: center;
		}
	</style>

	<div
		class="dashboard site-section grid grid-cols-1 lg:grid-cols-4 gap-6 p-1 bg-light min-h-screen">

		<!-- Contenu Principal -->
		<main class="col-span-1 lg:col-span-3">
			<div
				class="container my-5">
				<!-- Section Profil -->
				<div class="row">
					{% for stat in [
          { 'value': developer.views, 'percentage': developer.views, 'icon': 'user-plus', 'label': 'Vues de votre profil' },
          { 'value': recruiters_response_rate, 'percentage': favorites_count_percentage, 'icon': 'globe', 'label': 'Offres matching ' },
          { 'value': favorites_count, 'percentage': null, 'icon': 'file-plus', 'label': 'Offres ajoutées en favoris' }
         
        ] %}
						{# { 'value': applications_sent, 'percentage': null, 'icon': 'dollar-sign', 'label': 'Candidatures envoyées' }, #}

						<div class="col-sm-6 col-lg-4 mb-4">
							<div class="card card-custom">
								<div class="card-body customDev">
									<div class="d-flex align-items-center">
										<div>
											<div class="d-inline-flex align-items-center">
												<h2 class="text-dark mb-1 font-weight-bold text-3xl">{{ stat.value }}</h2>
												{% if stat.percentage %}
													<span class="badge bg-primary font-14 text-white font-weight-medium rounded-pill ms-2">{{ stat.percentage }}%</span>
												{% endif %}
											</div>
											<h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate text-lg">{{ stat.label }}</h6>
										</div>
										<div class="ms-auto">
											<span class="opacity-7 text-muted">
												<i data-feather="{{ stat.icon }}" class="text-2xl"></i>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
					<!-- Colonne Profil -->
					<div class="col-md-3">
						<div
							class="card card-custom1 shadow-sm border-0 p-4">
							<!-- Image utilisateur -->
							{% if developer.avatar %}
								<div class="d-flex justify-content-center mb-3">
									<img class="rounded-circle w-75" src="{{ asset('uploads/photos/' ~ developer.avatar) }}">
								</div>
							{% else %}
								<p>Aucune photo disponible</p>
							{% endif %}

							<h4 class="text-center fw-bold">{{ developer.nom }}
								{{ developer.prenom }}</h4>
							<p class="text-center text-muted">{{ developer.experience }}
								ans d'expérience</p>
							<div class="button-edit  d-flex flex-column justify-content-center">
								<a href="{{ path('app_update_profile', {'id': developer.id}) }}" class="btn btn-primary">
									<i class="bi bi-pencil"></i>
									<span>Modifier mon profil</span>
								</a>
							</div>
							<div class="d-flex">
								<a href="{{path('app_favori')}}" class="text-marine fw-bold">
									<i class="bi bi-heart"></i>
									<span>Mes offres favorites</span>
								</a>
							</div>
							{# <div class="d-flex">
																																																								                                                                                                                                                                            <a href="#" class="text-marine fw-bold">
																																																								                                                                                                                                                                                <i class="bi bi-person-badge"></i>
																																																								                                                                                                                                                                                <span>Mes candidatures</span>
																																																								                                                                                                                                                                            </a>
																																																								                                                                                                                                                                        </div> #}
							<div class="d-flex">
								<a href="{{path('app_matching')}}" class="text-marine fw-bold">
									<i class="bi bi-puzzle"></i>
									<span>Mes matchs</span>
								</a>
							</div>


						</div>
					</div>

					<!-- Colonne Expériences et CV -->
					<div class="col-md-9">
						<div
							class="mb-4">
							<!-- Section Mon CV -->
							<h4 class="fw-bold">Offres populaires</h4>
							<div class="d-flex flex-column justify-content-between rounded">
								{% for job in jobs %}
									<div
										class=" card mb-2 card-body card-body2">
										<!-- Logo -->
										<div class="d-flex align-items-center mb-3">
											<img src="https://www.actuia.com/wp-content/uploads/2019/06/capgemini.png" class="rounded" style="width: 50px; height: 50px; object-fit: contain;">
											<div class="ms-3">
												<p class="mb-0 fw-bold">{{ job.titre }}</p>
											</div>
										</div>

										<h5>{{ job.titre }}</h5>

										<div class="d-flex align-items-center text-muted mb-3">
											<span class="me-3">
												<i class="bi bi-briefcase"></i>
												{{ job.titre }}</span>
											<span class="me-3">
												<i class="bi bi-geo-alt"></i>
												{{ job.localisation}}</span>
										</div>

										<div class="text-muted mb-3">
											<i class="bi bi-leaft"></i>
											{{ job.salairePropose }}
											€/an
										</div>

										<div class="d-inline-block py-1 px-3 rounded-pill border text-center fw-bold">
											<i class="bi bi-fire"></i>
											<a href="{{ path('app_detail', {'id': job.id}) }}" class="text-black">
												En savoir plus
											</a>

										</div>

									</div>

								{% endfor %}
							</div>
						</div>

						<!-- Section Expériences et Formations -->
						<div class="container my-5">
							<h4 class=" fw-bold text-xl font-semibold mb-4">Dernières Offres Publiées</h4>
							<div class="row row-cols-1 row-cols-md-3 g-4">
								{% for job in suggested_jobs %}
									<div class="col">
										<div class="card shadow-sm border-0 h-100">
											<div class="d-flex justify-content-center py-3">
												<img src="https://www.actuia.com/wp-content/uploads/2019/06/capgemini.png" class="img-fluid" alt="Logo de {{ job.titre }}" style="max-width: 80px; max-height: 80px;">
											</div>
											<div class="card-body">
												<h5 class="card-title text-center">{{ job.titre }}</h5>
												<p class="text-muted mb-3">{{ job.localisation }}</p>
												<div class="d-flex justify-content-between text-center border-top pt-3">
													<div>
														<h6 class="mb-1">Localisation</h6>
														<p class="small text-muted">{{ job.localisation }}</p>
													</div>
													<div>
														<h6 class="mb-1">Salaire</h6>
														<p class="small text-muted">{{ job.salairePropose }}</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

	{% endblock %}
