{% extends 'navbarDev.html.twig' %}
{% block title %}Match
{% endblock %}

{% block body %}


	<style>
		.search-bar {
			display: flex;
			align-items: center;
			max-width: 900px;
			margin: 0 auto;
		}

		.search-bar input {
			flex: 1;
			padding: 15px;
			border: 1px solid #ccc;
			border-radius: 5px;
			font-size: 16px;
		}

		.search-bar button {
			padding: 15px 25px;
			margin-left: 10px;
			background-color: #007bff;
			color: #fff;
			border: none;
			border-radius: 5px;
			cursor: pointer;
		}

		.search-bar button:hover {
			background-color: #0056b3;
		}
	</style>


	<div class="site-section bg-light" id="blog-section">
		<div class="container">
			<div class="row">
				<h2 class="font-weight-bold text-center">
					<span class="text-primary">{{ developer.nom }}
						{{ developer.prenom }}</span>
					ces offres correspondent à votre profil

				</h2>
			</div>
			<div class="container">
				<div class="row">
					{% set hasMatches = false %}
					{% for match in matches %}
						{% if match.score >= 35 %}
							{% set hasMatches = true %}
							<div class="col-md-4">
								<div class="card mb-3">
									<div class="card-body">
										<h5 class="card-title">{{ match.job.titre }}</h5>
										{# <h6 class="card-subtitle mb-2 text-muted">{{ match.job.id }}</h6> #}
										<p class="card-text">
											<strong>Localisation :</strong>
											{{ match.job.localisation }}<br>
											<strong>Score de correspondance :</strong>
											{{ match.score }}%
										</p>
										<a href="{{ path('developer_add_fiche_favoris', { ficheId: match.job.id }) }}" class="btn btn-success">Ajouter favoris</a>
										<a href="{{ path('app_detail', {'id': match.job.id}) }}" class="btn btn-primary btn-sm">Voir l'offre</a>
									</div>
								</div>
							</div>
						{% endif %}
					{% endfor %}
					{% if not hasMatches %}
						<p class="bg-primary text-white text-center w-100">Aucune offre avec un score supérieur à 49%.</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>


{% endblock %}
