{% extends 'base.html.twig' %}
{% block title %}Favoris entreprise
{% endblock %}

{% block body %}

		<div class="site-section bg-light d-flex min-vh-100">
			<div class="container">
				<div class="row">
					<h2 class="font-weight-bold text-center text-primary">Vos favoris</h2>
				</div>
				<div class="container">
					<div class="row">
						{% for fiche in fiches_de_poste %}
							<div class="col-md-6 col-lg-4 mb-4">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">{{ fiche.nom }}</h5>
										<p class="card-text">Localisation :
											{{ fiche.localisation }}</p>
										<p class="card-text">Salaire souhaité :
											{{ fiche.salaireMin }}</p>
										<a href="{{ path('app_favori_remove', { 'id': fiche.id }) }}" class="btn btn-danger">Supprimer</a>
										<a href="{{ path('developer_detail', {'id': fiche.id}) }}" class="btn btn-success btn-sm">Voir le profil</a>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

	{% endblock %}