{% extends 'navbarDev.html.twig' %}
{% block title %}Match
{% endblock %}

{% block body %}

	<div class="section-grey bg-light" id="blog-section" style="display:flex; flex-direction:column; justify-content:center; align-items:center; width:100vw ; padding:3rem; margin-top:5rem">

		<div class="container">
			<div class="row">
				<h2 class="font-weight-bold text-center text-primary">Vos favoris</h2>
			</div>
			<div class="container">
				<div class="row">
					{% for fiche in fiches_de_poste %}
						<div class="col-md-6 col-lg-4 mb-4">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">{{ fiche.titre }}</h5>
									<p class="card-text">Entreprise :
										{# {{ fiche.entreprise.nom }}</p> #}
									</p>
									<p class="card-text">Localisation :
										{{ fiche.localisation }}</p>
									<a href="{{ path('app_favori_remove', { 'id': fiche.id }) }}" class="btn btn-danger">Supprimer</a>
									<a href="{{ path('app_detail', {'id': fiche.id}) }}" class="btn btn-success btn-sm">Voir l'offre</a>
								</div>
							</div>
						</div>
					{% else %}
						<div class="container">

							<li class="list-group-item text-center">
								Aucun favori ajouté pour l'instant
							</li>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
